@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Thai", sans-serif;
}

body {
    background-color: #DA70D6;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.loves {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
}

h1 {
    font-size: 70px;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subcontainer p {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin: 5px 0;
}

.love {
    position: absolute;
    width: 100%;
    transition: 0.5s;
}

.loves:hover .love {
    opacity: 0;
    scale: 110%;
}

@keyframes bounce {
    0% {
        top: 40%;
    }

    50% {
        top: 60%;
    }

    100% {
        top: 40%;
    }
}

@keyframes bounce2 {
    0% {
        top: 60%;
    }

    50% {
        top: 40%;
    }

    100% {
        top: 60%;
    }
}

@keyframes pop {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.hiw1 {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    opacity: 0;
}

.loves:hover .hiw1 {
    left: 10%;
    opacity: 100%;
    animation: bounce 2s infinite;
}

.hiw2 {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    opacity: 0;
}

.loves:hover .hiw2 {
    left: 90%;
    opacity: 100%;
    animation: bounce2 2s infinite;
}

.btn {
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
}

.loves:hover .btn {
    opacity: 100%;
}

button {
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 20px;
    font-size: 20px;
    font-size: 25px;
    color: white;
    border-radius: 1em;
    border: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    font-weight: 700;
}

.show {
    background-color: #0f0;
    transition: 0.2s;
}

.color {
    background-color: rgb(255, 0, 166);
    transition: 0.2s;
}

.meme {
    background-color: rgb(255, 225, 0);
    transition: 0.2s;
}

.ig {
    top: 20%;
    left: 30%;
    position: absolute;
    background-color: rgb(196, 0, 111);
    opacity: 0;
    transition: 0.5s;
}

.loves:hover .ig {
    opacity: 100%;
}

.facebook {
    top: 20%;
    left: 44%;
    position: absolute;
    background-color: rgb(0, 72, 255);
    opacity: 0;
    transition: 0.5s;
}

.loves:hover .facebook {
    opacity: 100%;
}

#memeButton {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

#memeContainer img {
    position: absolute;
    max-width: 250px;
    max-height: 250px;
    transition: transform 0.3s ease;
}

#memeContainer img:hover {
    transform: scale(1.1);
}